body {
    font-family: 'Open Sans', Helvetica, sans-serif;

    color: rgb(0, 0, 0);
    background-image: url(bg20.png);
    background-size: cover;
    background-position: center;
}

h1{color: black;
text-decoration: none;}
h2 {
    grid-row: inherit;
    text-align: center;}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 17px;
}

p{
    font-size: 18px;
    text-align:left;
    
}
hr{
    color: rgb(0, 0, 0);
    height: 2px;
}