body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    line-height: 130%;
    color: rgb(0, 0, 0);

  background-color: rgb(248, 251, 255);
    background-size: cover;
    background-position: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

h2{
    line-height: 28px;
}
h1 {
    grid-column: 50%;
    line-height: 30px;
}

h1 a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin-bottom: 17px
}

p {
    font-size: 16px;
    text-align: center;
}

/*.nompicto{}*/
.blanc{
    color: transparent;
}
.lang{
    grid-column-start: 1/-1;
    text-align: right;
}

.aboutcontact {
    text-align: left;
    font-size: 16px;
    text-decoration: none;
}
.projet a,.projetdraw a, .projetmort a,.projet-bis a,.projethist a{
    color: currentColor;
    text-decoration: none;
}

.projet img {
    grid-column: 1/-1;
}

.about a{
    color: currentColor;
    text-decoration: none;
}

.index a{
    color: currentColor;
    text-decoration: none;
}

.desc {
    grid-column: 1/-1;
    text-align: left;
}

.desc p {
    max-width: 460px;
    text-align: left;
}

.about p {
    grid-column: 1/-1;
    text-align: left;

}
.b1{
   grid-column: 1/-1;
   max-width: 80%;
   height: auto;
   margin-left: auto;
   margin-right: auto;
}
.affj {
    max-width: 100%;
    height: auto;
   
}

.projet-bis {
    grid-template-columns: repeat(1, 1fr);
    
}

@media (min-width : 200px) {
    .projet-bis,.projethist,.about{
        grid-template-columns: repeat(1, 1fr);
    }
    .about,.portrait {
        grid-column: 1/-1;
    
    }
}

@media (min-width : 720px) {
    .projet-bis,.projethist,.about{
        grid-template-columns: repeat(2, 1fr);
    } 
    .about,
    .portrait{
        grid-column: 1/2;
    }
}


@media (min-width : 000px) {
    .projetmort{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width : 720px) {
    .projetmort{
        grid-template-columns: repeat(3, 1fr);
    }
}
   
@media (min-width : 000px) {
    .projetdraw{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width : 720px) {
    .projetdraw{
        grid-template-columns: repeat(3, 1fr);
    }
}
.projet-bis h3 {
    grid-column: 1/-1;
}
a:hover {
    opacity: 0,5;
}
.about,
.portrait{
    max-width: 80%;
    height: auto;
    display: grid;
    margin-left: auto;
    margin-right: auto;
}
p.home, .home {
    grid-column: 1/-1;
    text-align: center;
}

.imce{
    grid-column: 1/-1;
}

 